:root {
  --Charcoal: #333;
  --Yellow: #f2c94c;
  --Grey: #bfbfbf;
  --Red: #ed143d;

  --title-font-family: "Roboto", sans-serif;
  --text-font-family: "Open Sans", sans-serif;

  font-family: var(--text-font-family);
}
