:root {
  --Charcoal: #333;
  --Yellow: #f2c94c;
  --Grey: #bfbfbf;
  --Red: #ed143d;
  --Pink-Gradient: linear-gradient(117deg, #e61577 9.51%, #992478 95.18%);

  --title-font-family: "Roboto", sans-serif;
  --text-font-family: "Open Sans", sans-serif;

  font-family: var(--text-font-family);
}

html {
  background-color: #fefefe;
}
